{{!-- <div class="container clearfix" style="width:100%;">
  <div class="container fluid mx-auto py-2 border rounded float-none bg-light">
    <div class="container clearfix">
      <div class="row">
        <div class="col-sm-5 col-md-6 border-right float-md-left">
          <img src="/img/cup-of-coffee-and-roasted-beans-on-wood-table-uhd-4k-wallpaper-1024x576.jpg"
            class="img-fluid rounded" alt="Responsive image">
        </div>
        <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 border-left float-md-right">
          <h1>{{msg}}</h1>
          <h2>This is our Home Page!</h2>
          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="example-text">Example Text</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
                placeholder="Enter Example Text">
            </div>
            <div class="form-group">
              <label for="example-description">Example Description</label>
              <textarea class="form-control" id="example-description" aria-describedby="example-description"
                placeholder="Enter Example Description"></textarea>
            </div>
            <button id="submit" class="btn btn-primary float-right">Submit</button>
          </form>
          <h3>Examples:</h3>
          <ul id="example-list" class="list-group">
            {{#each examples}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="example/{{this.id}}">{{this.text}}</a>
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  body {
    background-color: rgb(128, 179, 255)
  }

  ;
</style>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}